@use '../../../src/styles/helpers' as *;

.loader {
  h2 {
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    text-align: center;
    font-size: rem(28);
    margin-inline: rem(18);
    margin-bottom: rem(30);
    margin-top: rem(30);
    white-space: nowrap;

    span {
      color: var(--accent-color);
    }
  }
}