@use '../../../src/styles/helpers' as *;

.mobile-links-menu {
  @include flex-center();

  flex-direction: column;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100wv;
  height: 100vh;
  background-color: var(--base-background-color);

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    padding: rem(16);
    font-size: rem(22);
    color: white;
  }
}

body:has(.light-mode) {
  .mobile-links-menu {
    background-color: white;

    &__item {
      color: black;
    }
  }
}