@use '../../../src/styles/helpers' as *;

.portfolio {
  &__title {
    font-size: rem(40);
    margin-top: rem(100);

    span {
      color: var(--accent-color);
    }
  }

  &__list {
    flex-direction: column;
    display: flex;
    row-gap: rem(24);
    margin-top: rem(30);
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: rem(100);
    padding: rem(36);
    border-radius: rem(15);
    box-shadow: var(--shadow);

    @include hover {
      box-shadow: var(--inside-shadow);
    }

    @include less-laptop {
      column-gap: rem(60);
    }

    @include less-tablet {
      column-gap: rem(40);
      flex-direction: column;
    }

    &__image {
      border-radius: rem(15);
      box-shadow: var(--shadow);
      transition-duration: var(--transition-duration);

      @include hover {
        transform: scale(1.05);
        box-shadow: none;
      }
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    row-gap: rem(25);
    align-items: flex-start;

    @include less-tablet {
      row-gap: rem(19.5);
      margin-top: rem(40);
    }
  }

  &__icons-list {
    transition-duration: var(--transition-duration);
    display: flex;
    column-gap: rem(16);

    @include less-432px-screen {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(18);
    }
  }

  &__icons-grid {
    display: grid;
    gap: rem(18);
    grid-template-columns: repeat(14, 1fr);

    @include less-1830px-screen {
      grid-template-columns: repeat(12, 1fr);
    }

    @include less-1580px-screen {
      grid-template-columns: repeat(10, 1fr);
    }

    @include less-1096px-screen {
      grid-template-columns: repeat(8, 1fr);
    }

    @include less-856px-screen {
      grid-template-columns: repeat(7, 1fr);
    }

    @include less-686px-screen {
      grid-template-columns: repeat(6, 1fr);
    }

    @include less-599px-screen {
      grid-template-columns: repeat(5, 1fr);
    }

    @include less-516px-screen {
      grid-template-columns: repeat(4, 1fr);
    }

    @include less-432px-screen {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__icons-item {
    @include flex-center();

    padding: rem(15);
    box-shadow: var(--soft-inside-shadow);
    border-radius: 50%;
    border: 1px solid transparent;

    @include hover {
      border: 1px solid var(--accent-color);
    }
  }

  &__time-element {
    font-size: rem(18);
    padding: rem(10);
    padding-inline: rem(18);
    color: var(--accent-color);
    box-shadow: var(--soft-inside-shadow);
    display: inline-block;
    border-radius: rem(10);
  }

  &__link {
    font-size: rem(34);
    position: relative;
    transition-duration: var(--transition-duration);

    @include hover {
      cursor: pointer;
    }

    @include less-tablet {
      font-size: rem(26);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      width: 20px;
      height: 20px;
      background-image: url("../../../public/icons/link.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__description {
    font-size: rem(18);
  }

  @include less-mobile {
    padding-inline: rem(21);
  }
}