@use 'helpers' as *;

body {
  background-color: var(--base-background-color);
  color: var(--white-text-color);
  font-family: sans-serif;
}

.light-mode {
  --base-background-color: white;
  --white-text-color: black;
  --transition-duration: 0.3s;
  background-color: var(--base-background-color);
  color: black;
}

a {
  color: var(--white-text-color);
  text-decoration: none;
  transition-duration: var(--transition-duration);

  @include hover {
    color: var(--accent-color);
  }
}