@use '../../../src/styles/helpers' as *;

.main {
  padding-block: rem(40);
  padding-inline: rem(260);

  @include less-laptop {
    padding-inline: rem(100);
  }

  @include less-tablet {
    padding-inline: rem(65);
  }

  @include less-mobile {
    padding-inline: 0;
  }
}