@use '../../../src/styles/helpers' as *;

.about {
  padding-top: rem(200);
  padding-bottom: rem(100);

  @include less-mobile {
    padding-top: rem(120);
    padding-bottom: rem(20);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    @include less-mobile {
      flex-direction: column;
      row-gap: rem(50);
    }
  }

  &__title {
    font-size: rem(44);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      color: var(--accent-color);
    }

    @include less-laptop {
      font-size: rem(36);
    }

    @include less-tablet {
      font-size: rem(30);
    }
  }

  &__link {
    background-color: var(--base-background-color);
    color: var(--white-text-color);
    border: 1px solid var(--base-background-color);
    border-radius: rem(18);
    font-size: rem(20);
    padding-inline: rem(20);
    padding-block: rem(14);
    margin-top: rem(20);
    transition-duration: var(--transition-duration);
    box-shadow: var(--shadow);
    cursor: pointer;

    @include hover {
      border: 1px solid var(--accent-color);
      color: white;
    }
  }

  &__image {
    width: rem(520);
    height: rem(520);

    @include less-tablet {
      width: rem(390);
      height: rem(390);
    }

    @include less-mobile-s {
      width: rem(350);
      height: rem(350);
    }
  }
}

body:has(.light-mode) {
  .about__link {
    color: black;
    box-shadow: var(--soft-shadow);
  }
}