@use '../../../src/styles/helpers' as *;

.footer {
  padding-block: rem(40);
  padding-inline: rem(260);

  @include less-laptop {
    padding-inline: rem(100);
  }

  @include less-tablet {
    padding-inline: rem(65);
  }

  @include less-mobile {
    padding-inline: rem(21);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: rem(36);
    border-radius: rem(15);
    box-shadow: var(--shadow);
    column-gap: rem(110);
    transition-duration: var(--transition-duration);

    @include less-1096px-screen {
      flex-direction: column;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  }

  &__subtitle {
    font-size: rem(18);
  }

  &__copyright {
    font-size: rem(18);
  }

  &__icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    row-gap: rem(74);

    @include less-1096px-screen {
      align-items: flex-start;
      margin-top: rem(40);
      row-gap: rem(40);
    }
  }

  &__title {
    font-size: rem(40);

    span {
      color: var(--accent-color);
      white-space: nowrap;

      @include less-mobile-s {
        white-space: break-spaces;
      }
    }

    @include less-mobile-s {
      font-size: rem(26);
    }
  }
}